/* see the HTML for info */
body {
  background-color: black;
}
/* carousel */
.carousel-item{
  height: 100vh;    /* height of images */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.image1{
  background-image: url('images/001.png');
  /* background-size: contain; */
}
.image2{
  background-image: url('images/002.png');
  /* background-size: contain; */
}
.image3{
  background-image: url('images/003.png');
  /* background-size: contain; */
}
.image4{
  background-image: url('images/004.png');
  /* background-size: contain; */
}
.image5{
  background-image: url('images/001.png');
  /* background-size: contain; */
}
.image6{
  background-image: url('images/006.png');
  /* background-size: contain; */
}

/* increase height of images for width > 792px */
/*@media only screen and (min-width:792px){
  .carousel-item{
    height: 27rem;
  }
}*/